<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Nick Kirk Software Developer</title>
</head>
<body>
    <header>
        <h1 id="my-name">Nick Kirk</h1>
        <h2 id="my-role">Software Developer</h2>
    </header>
    <div class="page-wrapper">
        <nav id="main-nav">
        <ul>
            <li>
                <a href="">
                    About
                </a> 
            </li>
            <li>
                <a href="">
                    Skills
                </a> 
            </li>
            <li>
                <a href="">
                    Projects
                </a>
            </li>
            <li>
                <a href="">
                    Contact
                </a>
            </li>
        </ul>  
    </nav>

        <div class="page-content">
        {% block content %}
        {% endblock %}
        </div>
    </div>

    <footer>

    </footer>

    {% block scripts %}
    <script src="{{ url_for('static', filename='js/shuffle.js') }}"></script>

    {% endblock %}
    
</body>
</html>